# spaCy
spacy[cuda111,transformers]==3.2.0

# FastAPI
fastapi==0.70.0

# FastAPI Health
fastapi-health==0.4.0

# Uvicorn
uvicorn[standard]==0.15.0

# Gunicorn
gunicorn==20.1.0

# Python-dotenv
python-dotenv==0.19.2

# Sentence Transformers
sentence-transformers==2.1.0